/* Tokyo Night colors for Rofi */
*
{
    bg-col:        #1a1b26;
    bg-col-light:  #24283b;
    selected-col:  #33467c;
    border-col:    #7aa2f7;
    blue:          #7aa2f7;
    fg-col2:       #7dcfff;
    fg-col:        #a9b1d6;
    grey:          #565f89;
}
